<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <title>Todo管理</title>
</head>
<body>
<div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div>
<h1>Todo管理</h1>
<h2>追加</h2>
<div>
    <form method="post" th:action="@{/todo/}+${id}" th:object="${todo}">
        <p th:errors="*{title}" class="todo-error-message"></p>
        <input th:field="*{title}" class="add-input" type="text" placeholder="タイトル">
        <input th:field="*{description}" class="add-input" type="text" placeholder="詳細">
        <input th:field="*{due_date}" class="add-input-third" type="text" placeholder="例: 2023/??/??"><br/>
        <div class="add-form">
            <span>Todoの重要度</span>
            <input th:field="*{priority}" type="radio" name="priority" value="3" checked>大
            <input th:field="*{priority}" type="radio" name="priority" value="2">中
            <input th:field="*{priority}" type="radio" name="priority" value="1">小<br/>
        </div>
        <button type="submit" class="add-btn">追加</button>
    </form>
</div>
<h2>やること一覧</h2>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr th:each="list:${list}">
                <th>Title</th>
                <th>Description</th>
                <th>DueDate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="list:${list}">
                <td th:text="${list.title}">
                <td th:text="${list.description}">
                <td th:text="${list.due_date}">
                <input type="checkbox" name="is_completed" value="1">完了
            </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/logout}" method="post">
    <button class="logout-button" type="submit" value="ログアウト">ログアウト</button>
</form>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>