<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <title>Todo管理</title>
</head>
<body>
<h1>Todo管理</h1>
<div>
    <form method="post" th:action="@{/todo/}+${id}" th:object="${todo}">
        <p th:errors="*{title}" class="todo-error-message"></p>
        <input th:field="*{title}" class="add-input" type="text" placeholder="タイトル">
        <input th:field="*{description}" class="add-input" type="text" placeholder="詳細">
        <input th:field="*{dueDate}" class="add-input-third" type="date" placeholder="例: 2023/??/??"><br/>
        <div class="add-form">
            <span>Todoの重要度</span>
            <input th:field="*{priority}" type="radio" name="priority" value="3" checked>大
            <input th:field="*{priority}" type="radio" name="priority" value="2">中
            <input th:field="*{priority}" type="radio" name="priority" value="1">小
        </div>
        <button type="submit" class="add-btn">追加</button>
    </form>
</div>

<h2>やること一覧</h2>
<form method="post" th:action="@{/todo/edit/}+${id}" th:each="list:${list}" th:object="${todo}">
    <div th:if="${!list.isCompleted}">
    <input type="checkbox" th:value="${list.id}" name="id" form="done-todo">
    <input type="hidden" name="userId" th:value="${list.userId}">
    <input type="text" name="title" th:value="${list.title}">
    <input type="text" name="description" th:value="${list.description}">
    <input type="date" name="dueDate" th:value="${list.dueDate}">
    <input type="submit" value="更新">
    </div>
</form>
<form method="post" id="done-todo" th:action="@{/todo/update/}+${id}">
    <input type="hidden" name="id" th:value="${todo.id}">
    <input type="submit" value="完了">
</form>

<div>
    <button type="button" class="btn btn-primary p-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        完了したTodo表示
    </button>
    <div class="collapse" id="collapseExample">
        <form class="border p-3" method="post" th:action="@{/todo/delete/}+${id}" th:each="list:${list}">
            <div th:if="${list.isCompleted}">
                <input type="text" name="title" th:value="${list.title}">
                <input type="submit" value="削除">
            </div>
        </form>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <button class="logout-button" type="submit" value="ログアウト">ログアウト</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>