<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <title>Todo管理</title>
</head>
<body>
<h1>Todo管理</h1>
<div>
    <form method="post" th:action="@{/todo/}+${id}" th:object="${todo}">
        <div class="err-content">
            <p class="err-msg" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            <p class="err-msg" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            <p class="err-msg" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></p>
        </div>
        <div class="add-content">
            <input th:field="*{title}" class="add-input" type="text" placeholder="タイトル">
            <textarea rows="1" th:field="*{description}" class="add-textarea" placeholder="詳細"></textarea>
            <input th:field="*{dueDate}" class="add-input-third" type="date"><br/>
        </div>

        <div class="add-form">
            <span class="add-priority">Todoの優先度:</span>
            <input th:field="*{priority}" type="radio" name="priority" value="3">大
            <input th:field="*{priority}" type="radio" name="priority" value="2" th:checked="${todo.priority == 2}">中
            <input th:field="*{priority}" type="radio" name="priority" value="1">小
        </div>
        <div class="add-btn-content">
            <button class="add-btn" type="submit">追加</button>
        </div>
    </form>
</div>

<h2>やること一覧</h2>
<div>
    <form method="post" th:action="@{/todo/edit/}+${id}" th:object="${todo}" th:each="list:${list}">
        <div class="edit-todo" th:if="${!list.isCompleted}">
            <input class="edit-content" type="checkbox" th:value="${list.id}" name="todoId" form="done-todo">
            <input type="hidden" name="userId" th:value="${list.userId}">
            <input class="edit-content" type="text" name="title" th:value="${list.title}">
            <textarea rows="1" class="edit-content" name="description" th:value="${list.description}" type="text">[[${list.description}]]</textarea>
            <input class="edit-content" type="date" name="dueDate" th:value="${list.dueDate}">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    優先度変更
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <input class="dropdown-input pr-2" name="priority" type="radio" th:value="3" th:checked="${list.priority == 3}">大
                    <input name="priority" type="radio" th:value="2" th:checked="${list.priority == 2}">中
                    <input name="priority" type="radio" th:value="1" th:checked="${list.priority == 1}">小
                </div>
            </div>
            <input type="hidden" name="editId" th:value="${list.id}">
            <input class="update-btn" type="submit" value="更新">
        </div>
    </form>
    <form class="complete-btn-box" method="post" id="done-todo" th:action="@{/todo/update/}+${id}">
        <input type="hidden" name="todoId" th:value="${todo.id}">
        <input class="complete-btn" type="submit" value="チェックを入れて完了にする">
    </form>
</div>

<div class="complete-todo-box">
    <button type="button" class="btn btn-primary p-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        完了したTodo表示
    </button>
    <div class="collapse" id="collapseExample">
        <form class="p-2" method="post" th:action="@{/todo/delete/}+${id}" th:each="list:${list}">
            <div th:if="${!list.isDeleted}">
                <div th:if="${list.isCompleted}">
                    <input class="completed-todo" type="text" name="title" th:value="${list.title}" readonly>
                    <input type="hidden" name="deleteId" th:value="${list.id}">
                    <input class="delete-btn" type="submit" value="削除">
                </div>
            </div>
        </form>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <button class="logout-button" type="submit" value="ログアウト">ログアウト</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>